.discount {
  grid-row: 3 / 4;
  background-color: pink;
  background-image: url(../images/disco.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $color-primary;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    @media only screen and (max-width: $bp-medium) {
      transform: scale(1.33333);
      @media only screen and (max-width: $bp-small) {
        transform: scale(1.5555);
      }
    }
    margin: 0 25rem 0 25rem;
    text-align: center;
  }
  & h2 {
    font-weight: 400;
    margin-bottom: 3rem;
    font-size: 4.5rem;
    line-height: 5rem;
  }
  & p {
    font-weight: 300;
    font-size: 1.7rem;
    margin-bottom: 5rem;
  }
}
