.header {
  // Other than index header style
  &__subpage {
    @media only screen and (max-width: $bp-medium) {
      & a {
        font-size: 55%;
      }
      & h2 {
        margin-top: -2rem;
      }
      @media only screen and (max-width: $bp-small) {
        .header__logo {
          // margin-top: -5rem;
          margin-bottom: -1.5rem;
          & a {
            font-size: 65%;
          }
        }
        .header__navbar {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: row;
          // flex-direction: column;
        }
        & li {
          margin: 0 !important;
        }
        & h2 {
          margin-top: -4rem;
        }

        & a {
          text-align: center;
          font-size: 50%;
        }

        .header__sign-btn {
          transform: scale(0.5);
        }
        .btn-search:focus ~ .input-search,
        .input-search:focus {
          width: 125vw;
        }
      }
    }
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    justify-content: center;
  }
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 4rem 0 4rem;
  &__logo {
    @media only screen and (max-width: $bp-medium) {
      font-size: 5rem;

      @media only screen and (max-width: $bp-small) {
        margin: auto;
        font-size: 10rem;
      }
    }
    margin-right: auto;
    font-size: 4rem;
    & a {
      padding: 1rem;
      text-decoration: none;
      color: $color-logo;
    }
  }
  &__navbar {
    display: flex;
    font-weight: 300;
    text-transform: uppercase;

    & li {
      @media only screen and (max-width: $bp-large) {
        font-size: 1.8rem;
        @media only screen and (max-width: $bp-medium) {
          font-size: 2rem;
          @media only screen and (max-width: $bp-small) {
            font-size: 5rem;
            margin-bottom: 2rem;
          }
        }
      }
      font-size: 1.6rem;
      list-style-type: none;
      margin-right: 4rem;
      &:nth-last-child(n + 2) {
        margin-right: 2rem;
      }
      & a {
        text-align: center;
        color: #000;
        text-decoration: none;
        display: block;
        padding: 1.5rem 1.5rem;
      }
    }
  }
}
