.logout {
  &-wrap {
    & h1 {
      @media only screen and (max-width: $bp-medium) {
        font-size: 6rem;
      }
      margin-top: 15rem;
      font-size: 10rem;

      text-align: center;
    }
  }

  &-header {
    @media only screen and (max-width: $bp-medium) {
      .header {
        @media only screen and (max-width: $bp-small) {
          padding: 0;
        }
        &__navbar {
          flex-wrap: wrap !important;
          justify-content: center;
          margin: auto;
          & li {
            @media only screen and (max-width: $bp-small) {
              font-size: 2.6rem;
            }
            margin: 0 auto;
          }
        }
        &__logo {
          @media only screen and (max-width: $bp-small) {
            font-size: 6rem;
            @media only screen and (max-width: 200px) {
              font-size: 4rem;
            }
            & a {
              padding: 0;
              margin: 0;
            }
          }
          font-size: 4rem;
        }
        .btn-search:focus ~ .input-search {
          @media only screen and (max-width: $bp-small) {
            width: 40rem;
            @media only screen and (max-width: 400px) {
              width: 30rem;
            }
          }
        }
        .input-search {
          @media only screen and (max-width: $bp-small) {
            &,
            &::placeholder {
              font-size: 2rem;
            }
          }
          &:focus {
            @media only screen and (max-width: $bp-small) {
              width: 40rem;
              @media only screen and (max-width: 400px) {
                width: 30rem;
              }
            }
          }
        }
      }
    }
  }
}
