<header class="header">
  <h2 class="header__logo"><a href="/">GymGuru</a></h2>
  <ul class="header__navbar">
    <li class="navbar-item">
      <a href="/#contact">Contact us</a>
    </li>
    <li class="navbar-item">
      <a href="/about">about us</a>
    </li>
    <!-- Checking if jwt cookie exist and setting header -->
    <%if(cookie===true){%>
    <li class="navbar-item button-account"><a href="/account">Account</a></li>
    <% } else{ %>
    <li class="navbar-item button-login"><a href="#">Login</a></li>
    <li class="navbar-item button-register"><a href="#">Register</a></li>
    <% } %>
  </ul>

  <div class="header__sign-btn search-box">
    <button class="header__sign-btn-search btn-search">
      <i class="fa fa-search"></i>
    </button>
    <input
      type="text"
      class="header__sign-btn-input-search input-search"
      placeholder="TYPE TO SEARCH..."
    />
  </div>
</header>
