<!-- LOGIN  -->

<div id="wrap" class="input">
  <div class="login hidden">
    <header class="input-header">
      <h1>Welcome back!</h1>
    </header>

    <section class="input-content">
      <div class="input-button-box">
        <button class="input-button-box-btn input-button-box-login">
          Login
        </button>
        <button class="input-button-box-btn input-button-box-signup btn-active">
          Sign up
        </button>
      </div>

      <!-- <h2>Login</h2> -->
      <div class="input-content-wrap">
        <dl class="inputbox">
          <dd class="inputbox-content">
            <form name="login" action="/users/login" method="post">
            <input
              id="login-input-email"
              type="email"
              required
              placeholder=" "
              name="email"
            />
            <label for="login-input-email">E-mail</label>
            <span class="underline"></span>
          </dd>
          <p class="invalidInput invalidLoginPassword hidden"><i class="fas fa-exclamation-triangle"></i> Invalid Password/Email</p>
        </dl>
        <dl class="inputbox">
          <dd class="inputbox-content">
            <input id="login-input-password" type="password" required placeholder=" " name="password"/>
            <label for="login-input-password">Password</label>
            <span class="underline underline-password"></span>
          </dd>
          <div class="inputbox-remember">
            <input id="login-checkbox-remember" type="checkbox" />
            <label for="login-checkbox-remember">Remember Me</label>
          </div>
        </dl>
        <div class="btns">
          <button name="submit" type="submit" class="btn btn-confirm">Log In</button>
        </form>
          <button class="btn btn-cancel">Cancel</button>
        </div>
      </div>
    </section>
  </div>
  <!--  -->
  <!-- SIGN UP -->
  <!--  -->
  <div class="signup hidden">
    <header class="input-header">
      <h1>Join to us!</h1>
    </header>

    <section class="input-content">
      <div class="input-button-box">
        <button class="input-button-box-btn input-button-box-login">
          Login
        </button>
        <button class="input-button-box-btn input-button-box-signup btn-active">
          Sign up
        </button>
      </div>

      <!-- <h2>Login</h2> -->
      <div class="input-content-wrap">
        <dl class="inputbox">
          <dd class="inputbox-content">
            <form action="/users/register" method="post">
            <input
              id="signup-input-email"
              type="email"
              required
              placeholder=" "
              name="email"
            />
            <label for="signup-input-email">E-mail</label>
            <span class="underline"></span>
          </dd>
          <p class="invalidInput emailInUse hidden"><i class="fas fa-exclamation-triangle"></i> Email already in use.</p>
        </dl>
        <dl class="inputbox">
          <dd class="inputbox-content">
            <input id="register-input-password" type="password" required placeholder=" " name="password" />
            <label for="register-input-password">Password</label>
            <span class="underline underline-password"></span>
          </dd>
        </dl>
        <dl class="inputbox">
          <dd class="inputbox-content">
            <input id="register-input-password-check" type="password" name="password-check" required placeholder=" " />
            <label for="register-input-password-check">Confirm password</label>
            <span class="underline underline-password"></span>
          </dd>
        </dl>
        <dl class="inputbox">
          <dd class="inputbox-content">
            <input
              id="register-input-tel"
              type="tel"
              pattern="[+][0-9]{2} [0-9]{9}"
              placeholder=" "
              name="phoneNumber"
            />
            <label for="register-input-tel">Phone Number</label>
            <span class="underline"></span>
          </dd>
          <small>Format: +48 123456789</small>
        </dl>

        <dl class="inputbox">
          <div class="inputbox-radio-container">
            <span>Gender: <br /></span>
            <input id="Male" type="radio" value="Male" required name="gender" />
            <label for="Male">Male</label>
            <input id="Female" type="radio" value="Female" required name="gender" />
            <label for="Female">Female</label>
            <input id="Other" type="radio" value="Other" required name="gender" />
            <label for="Other">Other</label>
          </div>
        </dl>

        <dl class="inputbox">
          <div class="inputbox-birth">
            <span>Birth date:</span>
            <!-- <label>DD</label> -->
            <input
              type="text"
              pattern="[0-9]*"
              maxlength="2"
              size="2"
              class="date-field"
              placeholder="DD"
              required
              name="birthDate"
            />
          </div>
          /
          <div class="inputbox-birth">
            <!-- <label>MM</label> -->
            <input
              type="text"
              pattern="[0-9]*"
              maxlength="2"
              size="2"
              class="date-field"
              placeholder="MM"
              required
              name="birthDate"
            />
          </div>
          /
          <div class="inputbox-birth">
            <!-- <label>YYYY</label> -->
            <input
              type="text"
              pattern="[0-9]*"
              maxlength="4"
              size="4"
              class="date-field date-field--year"
              placeholder="YYYY"
              required
              name="birthDate"
            />
          </div>
          <p><small>E.g. 26/04/1980</small></p>
        </dl>
        <div class="btns">
          <button class="btn btn-confirm btn-register">Sign up</button>
          </form>
          <button class="btn btn-cancel">Cancel</button>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- LOGIN END -->
