<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script defer src="js/login.js"></script>
    <script defer src="js/autotab.js"></script>
  </head>
  <body class="logout-page">
    <%- include('../partials/login'); %>
    <div class="logout-header"><%- include('../partials/header'); %></div>

    <div class="logout-wrap">
      <h1>Your session expired</h1>
      <h2>Login again using login button</h2>
    </div>
  </body>
</html>
